<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="about">
<h1 style="text-align:center;">CONTACT US</h1>

<div id="about">
<h5>Phone:</h5>
Our phone numbers are 617-876-4897 or 617-876-0012
<br>
Our fax number is 617-661-6188
<br>
<h5>Twitter:</h5>
Find us on Twitter @PinocchiosPizz
<br>
<h5>Instagram:</h5>
And Instagram @pinocchiospizza1
<br>
<h5>Address:</h5>
Pinocchio's Pizza
<br>
74 Winthrop Street
<br>
Cambridge, MA 02138
<br>
<h5>Get in touch:</h5>
If you have any questions or comments or would like to get on our email list you can email us at pinocchiospizza1@gmail.com</a>
</div>


{% endblock %}