{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 style="text-align:center;">MENU</h1>
<ul class="list-group">
    <div id="mainmenu">
<li class="list-group-item"><a class="btn btn-outline-info" href="{% url 'pizzachoices' %}">Pizza</a></li>
<li class="list-group-item"><a class="btn btn-outline-info" href="{% url 'menupasta' %}">Pasta</a></li>
<li class="list-group-item"><a class="btn btn-outline-info"href="{% url 'menudinner' %}">Dinner</a></li>
<li class="list-group-item"><a class="btn btn-outline-info"href="{% url 'menusalad' %}">Salad</a></li>
<li class="list-group-item"><a class="btn btn-outline-info"href="{% url 'menusub' %}">Sub</a></li>
    </div>
{% endblock %}