<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1 style="text-align:center;">ORDER</h1>
<table class="table">
    <thead>
    <tr>


        <th scope="col">Items</th>

        <th scope="col">Status</th>

        <th scope="col">Price</th>

        <th scope="col">Date</th>


    </tr>
    </thead>

    <tbody>
    {% for item in order %}
    <tr>


        <td scope="row">{{ item.Items }}</td>

        <td>{{ item.Status }}</td>

        <td>{{ item.Price }}</td>

        <td>{{ item.Date }}</td>



    </tr>

    {% endfor %}
     </tbody>
<br>
<h6>Curent Total Due: {{total}}</h6>

{% else %}
<h1 id="logincheck">Log in or sign up to order!</h1>
<button class=" btn btn-light"><a href="{% url 'login' %}">Login</a></button>
<button class=" btn btn-light"><a href="{% url 'signup' %}">Sign Up</a></button>


{% endif %}
{% endblock %}