<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<h1 style="text-align:center;">PIZZA</h1>

<table class="table">
    <thead>
  <a class="btn btn-light" href="{% url 'view' %}">View Orders</a>
    <tr>
        <th scope="col">Type</th>

        <th scope="col">Size</th>

        <th scope="col">Price</th>

        <th scope="col">Toppings</th>
    </thead>
    </tr>
    {% for item in pizza %}
     <tbody>
    <tr scope="row">
        <td>{{ item.PizzaDish }}</td>

        <td>{{ item.Size }}</td>

        <td>{{ item.Price }}</td>

        <td>{{ item.Num_Toppings }}</td>

            <td>
            <form method="post" >
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-light">Add</button>
            </form>
        </td>


<td> <a class=" btn btn-outline-secondary" href="{% url 'add' item item.Price form.Toppings.value  %}">Add To Cart</a> </td>

    </tr>
     </tbody>
    {% endfor %}

</table>
{% endblock %}