<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 style="text-align:center;">SUB</h1>

<table class="table">
    <thead>
  <a class="btn btn-light" href="{% url 'view' %}">View Orders</a>
    <tr>
        <th scope="col">Sub</th>

        <th scope="col">Size</th>

        <th scope="col">Cheese</th>

        <th scope="col">Price</th>
    </thead>
    </tr>
    {% for item in Sub %}
     <tbody>
    <tr scope="row">
        <td>{{ item.Sub }}</td>

        <td>{{ item.Size }}</td>

        <td>{{ item.Cheese }}</td>

        <td>{{ item.Price }}</td>

<td> <a class=" btn btn-outline-secondary" href="{% url 'add' item item.Price %}">Add To Cart</a> </td>

    </tr>
     </tbody>
    {% endfor %}

</table>
{% endblock %}